apiVersion: v1
kind: Service
metadata:
  name: {{ include "cleo.fullname" . }}-api
  labels:
    {{- include "cleo.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "cleo.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
